* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.form{
  border-radius:3px;
  padding:10px 15px;
  background-color:rgba(0,0,0,0.2);
}
.textarea{
  width:100%;
  margin-bottom:15px;
  padding:7px 10px;
  border-radius:2px;
  color:#fff;
  background-color:#554c57;
  border:none;
}
.label{
  width:100%;
  display:block;
}
.button{
  width:100%;
  margin:15px 0;
  background-color:#785580;
  border:none;
  color:#fff;
  border-radius:2px;
  padding:7px 10px;
  font-size:1em;
  cursor:pointer;
}
.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}
.horizontal-spacer {
  min-width:100px;
}
.vertical-spacer {
  min-height:30px;
}
.cell{
  min-height:75px;
  flex-grow:1;
//  flex-basis:100%;
}
.message-user-name{
  padding:10px;
  float:none;
  font-weight:400;
  border-radius:3px 3px 3px 3px;
  margin:0 0 0 0;
}
.message-text{
/*    word-break: break-all;*/
    overflow-wrap: anywhere;
    text-align:left;
    padding:5px 20px 5px 20px;
}
.message-box{
  display: flex;
  border:#000000 #000000;
  border-radius:0 0 0 0;
  opacity:1;
  background-color:rgba(0,0,0,0);
}
*{
  box-sizing:border-box;
}

body{
  margin:0;
}
.chat-container{
    /*
    display: flex;
    flex-direction: column;
    */
    /* width:30%; */
    max-height: 100%; /*600px;*/
    overflow:auto;
}
.received-date {
    font-size: 8;
    text-align: right;
    font-style: italic;
}
#room-name {
    text-align : center;
    font-size: 20px;
    font-style: bold;
}
#inor8g{
  min-height:30px;
  margin:0 0 0 0;
  width:auto;
}
#message-box-left-template{
  display:flex;
}
#i51w91{
  min-height:30px;
  border-radius:20px 20px 20px 20px;
  border:solid #57dd21;
}
#ib403h{
  min-height:30px;
}
#irzxav{
  min-height:30px;
  border:solid #d61d1d;
  border-radius:20px 20px 20px 20px;
}
#iobrqj{
  min-height:0;
}
#i5awgi{
  text-align:center;
  font-size:20px;
}
#separator{
  padding:3px 10px 3px 10px;
}
#notification-template{
  text-align:center;
  border-radius:10px 10px 10px 10px;
  border:solid #1a0404;
  width:auto;
  margin:0 100px 0 100px;
}
@media (max-width: 768px){
  .row{
    flex-wrap:wrap;
  }
}

/*
.video-box-remote{
  border-radius:20px 20px 20px 20px;
  border:solid #57dd21;
  padding: 3px 10px 3px 10px;
}

.video-box-local{
  border-radius:20px 20px 20px 20px;
  border:solid #d61d1d;
  padding: 3px 10px 3px 10px;
}
*/

.video-container {
    display : flex;
}

.video-container-list {
    display : flex;
    flex-direction: column;
    justify-content: center;
}

.video-user-name-local {
  background-color: #d61d1d;
}

.video-user-name-remote {
  background-color: #57dd21;
}

.error {
    color: red;     
}

.chat-transcript-box {
    max-height: 600px;
    overflow: auto;
}

.usage {
    display: flex;
    flex-direction : column;
    border-radius:10px 10px 10px 10px;
    border:solid #1a0404;
    padding:5px 5px;
    max-width : 80%;
    margin: auto;
}

.usage-title {
    font-style : bold;
    font-size : 20px;
    margin: auto;
}

.usage-text {
    font-style : italic;
}

