.hand {
    display: flex;
    justify-content: center;
    width: 720px;
    height: 90px;
    border: 2px solid;
    //box-sizing: content-box;
}

.table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 580px;
    height: 480px;
    border: 2px solid;
}

.off-table {
    width: 420px;
    height: 480px;
    border: 2px solid;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

.skat-horizontal-spacer {
  min-width:100px;
}
.skat-vertical-spacer {
  min-height:30px;
}
